  <tr>
    <th
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
    >
      <img
        [src]="getImg(person)"
        class="h-12 w-12 bg-white rounded-full border"
        alt="..."
      />
      <span
        class="ml-3 font-bold"
        [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'"
      >
        {{ person.name }}
      </span>
    </th>
    <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
    >
      {{ person.gender }}
    </td>
    <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
    >
      <i class="fas fa-circle text-orange-500 mr-2"></i> pending
    </td>
    <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
    >
      <div class="flex items-center">
        <span class="mr-2">{{ person.popularity }}</span>
        <div class="relative w-full">
          <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
            <div
              style="width: 60%"
              class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500"
            ></div>
          </div>
        </div>
      </div>
    </td>
    <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
    >
       <app-table-dropdown></app-table-dropdown> 
    </td>
  </tr>

